!!!
%html
  %head
    %script{ src: "http://js.pusherapp.com/1.5/pusher.min.js" }
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ src: "/public/application.js" }
    %title= title
  %body
    %fieldset
      %form{ action: '/messages', id: 'new_message_form', method: 'post' }
        %p
          .screen_name_field
            %label Screen Name:
            %br
            %input{ id: 'screen_name_input', name: 'screen_name', type: 'screen_name' }
        %p
          .message_field
            %label Message:
            %br
            %input{ id: 'message_input', name: 'message', type: 'text' }
        %p
          %input{ name: 'submit', type: 'submit', value: 'Submit' }
    .messages              

